<!doctype html>
<!--[if lt IE 8 ]><html lang="en" class="no-js ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>E-institut</title>
	<meta name="description" content="">
	<meta name="author" content="">
        
        
        <!-- Global stylesheets -->
	<link href="{{ asset('bundles/eieinstitut/css/reset.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/common.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/form.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/standard.css') }}" rel="stylesheet" type="text/css">
	
	<!-- Comment/uncomment one of these files to toggle between fixed and fluid layout -->
	<!--<link href="css/960.gs.css" rel="stylesheet" type="text/css">-->
	<link href="{{ asset('bundles/eieinstitut/css/960.gs.fluid.css') }}" rel="stylesheet" type="text/css">
	
	<!-- Custom styles -->
        
	<link href="{{ asset('bundles/eieinstitut/css/simple-lists.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/block-lists.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/planning.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/table.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/calendars.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/}}css/wizard.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/eieinstitut/css/gallery.css') }}" rel="stylesheet" type="text/css">
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/eieinstitut/favicon.ico') }}">
	<link rel="icon" type="image/png" href="{{ asset('bundles/eieinstitut/favicon-large.png') }}">
	
	<!-- Modernizr for support detection, all javascript libs are moved right above </body> for better performance -->
	<script src="{{ asset('bundles/eieinstitut/js/libs/modernizr.custom.min.js') }}"></script>
	
	<!--///////////////////////////////////////////////////////////////////////////////////////////////////
        //
        //		Styles Camera Slide
        //
        ///////////////////////////////////////////////////////////////////////////////////////////////////-->
        
        <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'>
 

        
        {% block stylesheets %}

        {% endblock %}
        {% block javascripts %}

        {% endblock %}
</head>
<body>
    {% include 'EieinstitutBundle::include/Header.html.twig' %}

	<article class="container_12">

	{% block content %}

	{% endblock %}
    {% include 'EieinstitutBundle::include/Footer.html.twig' %}
	</article>
	

    
         
     <!--
	
	Updated as v1.5:
	Libs are moved here to improve performance
	
	-->
	
	<!-- Generic libs -->
	<script src="{{ asset('bundles/eieinstitut/js/libs/jquery-1.6.3.min.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/old-browsers.js') }}"></script>		<!-- remove if you do not need older browsers detection -->
	<script src="{{ asset('bundles/eieinstitut/js/libs/jquery.hashchange.js') }}"></script>
	
	<!-- Template libs -->
	<script src="{{ asset('bundles/eieinstitut/js/jquery.accessibleList.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/searchField.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/common.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/standard.js') }}"></script>
	<!--[if lte IE 8]><script src="js/standard.ie.js"></script><![endif]-->
	<script src="{{ asset('bundles/eieinstitut/js/jquery.tip.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/jquery.contextMenu.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/jquery.modal.js') }}"></script>
	
	<!-- Custom styles lib -->
	<script src="{{ asset('bundles/eieinstitut/js/list.js') }}"></script>
	
	<!-- Plugins -->
	<script src="{{ asset('bundles/eieinstitut/js/libs/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('bundles/eieinstitut/js/libs/jquery.datepick/jquery.datepick.min.js') }}"></script>
	


		  <!-- <script type='text/javascript' src='js/camera.slide/jquery.min.js'></script>-->
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/jquery.mobile.customized.min.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/jquery.easing.1.3.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/camera.min.js') }}'></script>
	<script>
		jQuery(function(){
			jQuery('#camera_wrap_1').camera({
				thumbnails: true
			});
		});
	</script>

	<!-- Charts library -->
	<!--Load the AJAX API-->
	<script src="http://www.google.com/jsapi"></script>
     {% block javascripts_Bottom %}

     {% endblock %}
</body>
</html>