	<!-- Header -->
	<a href="#"><img style="float:left;padding-left:10%;padding-top:5px;" src="{{ asset('bundles/eieinstitut/images/logo_s2.png')}}" width="231" height="91"></a>
	<!-- Server status -->
	<header>
		<div class="container_12">
			<div class="server-info"> <a href="http://www.reseau-ramses.org/" target="_blank">RAMSSES</a></div>
			<div class="server-info"><a href="https://www.facebook.com/pages/E-Institut-Espace-Num%C3%A9rique-Acad%C3%A9mique-Unifi%C3%A9-ENAU/212028762219064" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/fb.png')}}" width="24" height="24"></a></div>
			<div class="server-info"><a href="https://twitter.com/EInstitut"target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/tw.png')}}" width="24" height="24"></a></div>
			<div class="server-info"><a href="http://www.linkedin.com/pub/e-institut/45/a43/168" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/ln.png')}}" width="24" height="24"></a> </div>
			<div class="server-info"><a href="http://www.youtube.com/channel/UCNJWFhvZoYW_Qx-GoHHRBcw" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/yt.png')}}" width="24" height="24"></a></div>
			<div class="server-info"><a href="https://plus.google.com/112849304228527795761/posts" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/goo.png')}}" width="24" height="24"></a></div>
			<div class="server-info"><a href="#" target="_blank"><img src="{{ asset('bundles/eieinstitut/images/icons/social/rss.png')}}" width="24" height="24"></a></div>
			
		
		</div>

	</header>
	<!-- End server status -->
	
	<!-- Main nav -->
	<nav id="main-nav">
		<ul class="container_12">
			
			<li class="accueil current"><a href="{{path('eieinstitut_homepage')}}" title="">Accueil</a></li>
                        {% if app.user %}
			<li class="users" title="Espace personnel"><a href="#" title="">Espace personnel</a></li>
                        {% endif %}
			<li class="medias" title="Ressources"><a href="{{ path('Ressources') }}" title="">Ressources</a></li>
                        {% if app.user %}
			<li class="comments" title="Tutoriels en ligne"><a href="#" title="">Tutoriels en ligne</a></li>
			<li class="contacts" title="Annuaire"><a href="#" title="">Annuaire</a></li>
                        {% endif %}
			<li class="settings" title="Forum"><a href="{{ path('Forum') }}" title="">Forum</a></li>
		</ul>
	</nav>
		
			
	<!-- End main nav -->
	
	<!-- Sub nav -->
	<div id="sub-nav"><div class="container_12">
		
		<a href="#" title="Aide" class="nav-button"><b>Rechercher</b></a>
	
		<form id="search-form" name="search-form" method="post" action="search.html">
			<input type="text" name="s" id="s" value="" title="Search admin..." autocomplete="off">
		</form>
	
	</div></div>
	<!-- End sub nav -->
	
	<!-- Status bar -->
	<div id="status-bar">
		<div class="container_12">

			<ul id="status-infos">
                            {% if app.user %}
                            <li class="spaced">Bonjour  <strong>{{ app.user.username }}</strong></li>
                           
                                
			<li>
				<a href="#" class="button" title="2 messages"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" width="16" height="16"> <strong>2</strong></a>
				<div id="messages-list" class="result-block" style="display: none;">
					<span class="arrow"><span></span></span>
					
					<ul class="small-files-list icon-mail relative" style="overflow: hidden;">
						<li>
							<a href="#"><strong>10:15</strong> Please update...<br>
							<small>From: System</small></a>
						</li>
						<li>
							<a href="#"><strong>Yest.</strong> Hi<br>
							<small>From: Jane</small></a>
						</li>
						
					</ul>
					
					<p id="messages-info" class="result-info"><a href="#">Voir ma messagerie</a></p>
				</div>
			</li>
			<li>
				<a href="#" class="button" title="2 comments"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/balloon.png')}}" width="16" height="16"> <strong>2</strong></a>
				<div id="comments-list" class="result-block">
					<span class="arrow"><span></span></span>
					
					<ul class="small-files-list icon-comment">
						<li>
							<a href="#"><strong>Jane</strong>: I don't think so<br>
							<small>On <strong>Post title</strong></small></a>
						</li>
						<li>
							<a href="#"><strong>Ken_54</strong>: What about using a different...<br>
							<small>On <strong>Post title</strong></small></a>
						</li>
											
					</ul>
					
					<p id="comments-info" class="result-info"><a href="#">Voir tous les commentaires</a></p>
				</div>
			</li>
			
                        <li><a href="{{ path('logout') }}" class="button red" title="Déconnexion"><span class="smaller">Déconnexion</span></a></li>
                        {% else %}
                            <li><a href="#" onclick="inscriptionModal(); return false;" class="button grey" title="Inscription"><span class="smaller">Inscription</span></a></li>
                            <li><a href="{{ path('login') }}"  class="button red" title="Connexion"><span class="smaller">Connexion</span></a></li>
                         {% endif %}
		</ul>
			
			<ul id="breadcrumb">
				<li><a href="#" title="Accueil">Accueil</a></li>
			</ul>
		</div>
	</div>
	<!-- End status bar -->
	
	<div id="header-shadow"></div>
	<!-- End header -->
	
	