{% extends "EieinstitutBundle::Master-Base.html.twig" %}

{% block title %}
     {{ parent() }}   | Ressources
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
   


        <div class="clear"></div>



        <!--section filtre -->	   	

        <section class="grid_3">
                <div class="block-border">
                <div class="block-content">
                        <h1> Filtre </h1>

                        <div class="block-controls">
                              
                        </div>
				<form class="form" id="recherche_fiche" method="post" action="">
                        <label for="simple-calendar" id="titrer">Mots Clés</label>
                        <p class="input-type-text">
                            

                            <input type="text" name="mot_cle" id="simple-search" value="{{mot_cle}}" style="width:90%" title="Filter results">
                           <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png')}}" width="16" height="16" class="float-right">

                        </p>
           
						<div class="clear"></div>


                    <ul class="collapsible-list with-bg">
                                <li>
                                        <b class="toggle"></b>
                                        <span>Type [ {{ type }}]</span>
                                        <ul>

                                                <li class="closed">
													{% set check = '' %}
													{% if type=='Audio'  %}
														{% set check = 'checked' %}
													{% endif   %}
													<input type="checkbox" name="type" id="simple-checkbox-1" value="Audio"   {{ check }}/>
													
														<label for="simple-checkbox-1">Audio</label>
                                                        
                                                </li>
                                                <li class="closed">
													{% set check = '' %}
													{% if type1=='Document'  %}
														{% set check = 'checked' %}
													{% endif   %}
													<input type="checkbox" name="type1" id="simple-checkbox-2" value="Document" {{ check }}/>	
													<label for="simple-checkbox-2">Document</label>
                                                </li>
                                                <li class="closed">
													{% set check = '' %}
													{% if type2=='Database'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type2" id="simple-checkbox-3" value="Database"  {{ check }}/>
                                                        <label for="simple-checkbox-2">Data base</label>
                                                </li>
												 <li class="closed">
													{% set check = '' %}
													{% if type3=='Excel'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type3" id="simple-checkbox-4" value="Excel"  {{ check }}/>
                                                        <label for="simple-checkbox-3">Excel</label>
                                                </li>
												 <li class="closed">
													{% set check = '' %}
													{% if type4=='Flash'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type4" id="simple-checkbox-5" value="Flash" {{ check }}/>
                                                        <label for="simple-checkbox-3">Flash</label>
                                                </li>
                                                <li class="closed">
													{% set check = '' %}
													{% if type5=='Pdf'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type5" id="simple-checkbox-6" value="Pdf" {{ check }}/>
													
														<label for="simple-checkbox-4">Pdf</label>
                                                </li>
                                                <li class="closed">
													{% set check = '' %}
													{% if type6=='vidéo'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type6" id="simple-checkbox-6" value="vidéo" {{ check }}/>
													
                                                        <label for="simple-checkbox-5">Vidéo</label>
                                                </li>
												<li class="closed">
													{% set check = '' %}
													{% if type7=='Word'  %}
														{% set check = 'checked' %}
													{% endif   %}
                                                        <input type="checkbox" name="type7" id="simple-checkbox-7" value="Word" {{ check }}/>
                                                        <label for="simple-checkbox-5">Word</label>
                                                </li>
                                        </ul>
                                </li>
								{% if test1==1  %}
                                <li>
								{% else  %}
								<li class="closed">
								{% endif   %}
                                        <b class="toggle"></b>
                                        <span>Domaine</span>
                                        <ul>
                                                <li class="closed">
													{% if cases==1  %}
                                                         <input type="checkbox" name="domaine" id="simple-checkbox-1" value="Banque/comptabilité/assurance" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine" id="simple-checkbox-1" value="Banque/comptabilité/assurance" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Banque/comptabilité/assurance</label>
                                                </li>
												<li class="closed">
													{% if cases1==1  %}
                                                         <input type="checkbox" name="domaine1" id="simple-checkbox-1" value="Commerce" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine1" id="simple-checkbox-1" value="Commerce" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Commerce</label>
                                                </li>
												<li class="closed">
													{% if cases2==1  %}
                                                         <input type="checkbox" name="domaine2" id="simple-checkbox-1" value="Documentation" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine2" id="simple-checkbox-1" value="Documentation" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Documentation</label>
                                                </li>
												 <li class="closed">
													{% if cases3==1  %}
                                                         <input type="checkbox" name="domaine3" id="simple-checkbox-1" value="Droit" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine3" id="simple-checkbox-2" value="Droit" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-2">Droit</label>
                                                </li>
												 <li class="closed">
													{% if cases4==1  %}
                                                         <input type="checkbox" name="domaine4" id="simple-checkbox-1" value="Economie" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine4" id="simple-checkbox-3" value="Economie" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-3">Economie</label>
                                                </li>
												<li class="closed">
													{% if cases5==1  %}
                                                         <input type="checkbox" name="domaine5" id="simple-checkbox-1" value="Gestion projet/Ressorces humaines" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine5" id="simple-checkbox-1" value="Gestion projet/Ressorces humaines" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Gestion projet/Ressorces humaines</label>
                                                </li>
												<li class="closed">
													{% if cases6==1  %}
                                                         <input type="checkbox" name="domaine6" id="simple-checkbox-1" value="Informatique" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine6" id="simple-checkbox-1" value="Informatique" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Informatique</label>
                                                </li>
												
												<li class="closed">
													{% if cases7==1  %}
                                                         <input type="checkbox" name="domaine7" id="simple-checkbox-1" value="Marketing" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine7" id="simple-checkbox-1" value="Marketing" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Marketing</label>
                                                </li>
												
												<li class="closed">
													{% if cases8==1  %}
                                                         <input type="checkbox" name="domaine8" id="simple-checkbox-1" value="Santé" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine8" id="simple-checkbox-1" value="Santé" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Santé</label>
                                                </li>
												<li class="closed">
													{% if cases9==1  %}
                                                         <input type="checkbox" name="domaine8" id="simple-checkbox-1" value="Autre" onClick="submit()"; checked>
													{% else  %}
                                                        <input type="checkbox" name="domaine7" id="simple-checkbox-1" value="Autre" onClick="submit()";>
													{% endif   %}
                                                        <label for="simple-checkbox-1">Autre</label>
                                                </li>
                                               
                                               
                                        </ul>
                                </li>
                                <li class="closed">
                                        <b class="toggle"></b>
                                        <span>Thème</span>
                                        <ul>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">
                                                        <label for="simple-checkbox-1">Base de donnés</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">
                                                        <label for="simple-checkbox-2">JAVA</label>
                                                </li>
                                        </ul>
                                </li>

                                <li class="closed">
                                <b class="toggle"></b>
                                <span >Pour préparer</span>
                                    <ul>
                                                
                                                        <ul class="checkable-list">
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                                                <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li>                                      
                                                        </ul>
                                    </ul>

                                        
                                </li>

                                <li class="closed">
                                <b class="toggle"></b>
                                <span >Pour donner des compléments documentaires à</span>
                                        <ul class="checkable-list">
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                            <li class="closed"><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li>                                      
                                         </ul>
                                </li>

                                <li class="closed">
                                <b class="toggle"></b>
                                <span >Choix des base</span>

										<ul class="checkable-list">
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour comprendre les bases d'un sujet</label></li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour approfondir mes connaissances sur un sujet</label></li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour résoudre les problèmes du domaine</label> </li>
											<li class="closed"><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour s'exercer</label></li>                                         
										</ul>
                            </li>
                        </ul>
                        <div class="clear"></div>
						<div class="float-right" >
                           <button type="submit" name="btn_search" class="grey" >Rechercher</button>
                         </div>
						 
				</form>
						 <div class="clear"></div>
                

                </div></div>
        </section>
        <!--fin section filtre -->	

        <!--section liste des publications-->	

        <section class="grid_9">
                <div class="block-border">
                    <div class="block-content">


                                <div class="block-controls">
                                                        <h1>Publications </h1>  <br><br>

                                </div>
                                <form class="form" id="tab-stats" method="post" action="">
                                    
 
        
        
						<div class="block-controls">
							<div class="controls-buttons">
                                        

                                            <!-- The class sub-hover removes the hover effect for the whole div -->
								<div class="sub-hover">
										<a href="#" class="disabled">Libellé</a>
										{% if ordre=='dateCreation'  %} 
										<input type="radio" name="trier" id="simple-radio-2" value="dateCreation" onClick="submit()"; checked >Date</input>
										{% else %}
										<input type="radio" name="trier" id="simple-radio-2" value="dateCreation" onClick="submit()";>Date</input>
										{% endif%}
										{% if ordre=='domaine'  %} 
										<input  type="radio" name="trier" id="simple-radio-1" value="domaine" onClick="submit()"; checked >Domaine</input>
										{% else %}
										<input  type="radio" name="trier" id="simple-radio-1" value="domaine" onClick="submit()";>Domaine</input>
										{% endif%}
										{% if ordre=='titre'  %} 
										<input  type="radio" name="trier" id="simple-radio-1" value="titre" onClick="submit()"; checked >Titre</input>
										{% else %}
										<input  type="radio" name="trier" id="simple-radio-1" value="titre" onClick="submit()";>Titre</input>
										{% endif%}
									
									
								</div>                    
							</div>
					
								<ul class="controls-buttons">

									<li>
										 <label for="show-empty">Trier par</label>
									</li>  
									<li class="sep"></li>                 
								</ul>
                                       
					
						</div>
      

                <!--fin recherche avancée-->	
                               

                        <!--</form>-->
                        {% for Fiche in Fiches %}
                          {% if Fiche.statut==1  %}
                            <div class="task with-legend ">
						
                                           <!-- The legend -->
                                           <div class="legend">
												{% if Fiche.type=='Document'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Excel'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-excel.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Vidéo'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-film.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Flash'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-flash-movie.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Image'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-image.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Audio'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-music.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Pdf'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Word'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-word.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='PPT'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-powerpoint.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Zip'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-zipper.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Text'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-text.png')}}" width="16" height="16"/> 
												{% elseif Fiche.type=='Database'  %}
													<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/database.png')}}" width="16" height="16"/> 
													
												{% endif   %}
                                               {{ Fiche.type }}
                                           </div>

                                           <div class="task-description">

                                                   <!-- Task-list has special integration of the floating-tags class -->

                                                   <div class="columns">
                                                            <!--{{ Fiche.DateCreation|date('Y-m-d H:i') }}-->
                                                           <ul class="floating-tags">
                                                                   <li class="tag-time">{{ Fiche.DateCreation|time_ago_in_words  }}</li>
                                                                   <li class="tag-user">{{ Fiche.User.username }}</li>
                                                                   <li>{{ Fiche.theme }}</li>
                                                                   <li>{{ Fiche.domaine }}</li>
                                                           </ul>
                                                           <h3><a href="#"> {{ Fiche.titre }}</a></h3>
                                                           {{ Fiche.resume }}
                                                   </div> 
                                                   <div class="columns">
                                                           <ul class="keywords">
                                                                  {% for tag in Fiche.fiche_tags %}  <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> {{ tag.libelle }} </li>{% endfor %}
                                                                  
                                                           </ul>
                                                   </div>
                                           </div>
                                                   <ul class="mini-menu" style="opacity: 0;">
                                                           <li><a href="{{ path('detail_ressource',{'fiche': Fiche.id }) }}" title="Detail"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                                   </ul>
                                           </div>	
                       {% endif   %}
					   {% endfor %}
                              
						<ul class="controls-buttons">
						<li>il y'a <strong>{{ total_articles }}</strong> ressources</li>
								<li><a href="{{ path('Ressources', { 'page': 1 }) }}"> <span> |< </span> </a></li>
								<li><a href="{{ path('Ressources', { 'page': previous_page }) }}" title="Précédent"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png')}}" width="16" height="16"> Précédent</a></li>
								  {% for page in 1..last_page %}
									{% if page == current_page %}
									
								<li><a  title="Page {{ page }}" class="current"><b>{{ page }}</b></a></li>
								{% else %}
								<li><a href="{{ path('Ressources', { 'page': page }) }}"  title="Page {{ page }}"><b>{{ page }}</b></a></li>
								{% endif %}
								{% endfor %}
								<li name="suiv" value="1"><a  title="suivant" href="{{ path('Ressources', { 'page': next_page }) }}">Suivant <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png')}}" width="16" height="16"></a></li>
					
								<li><a href="{{ path('Ressources', { 'page': last_page }) }}" title="derniére page"> <span> >| </span> </a></li>
												 			</ul> <div class="clear"></div> <center><div class="pagination_desc" > 
								 {% if last_page > 1 %}
								 - page <strong>{{ current_page }}/{{ last_page }}</strong> {% endif %} -</div></center>
					</form>						
						
						<div class="clear"></div>
					
						
                    </div>

                </div>

        </section>
        <!--fin section liste des publications -->	


{% endblock %}
{% block javascripts_Bottom %}

{% endblock %}