{% extends "EieinstitutBundle::Master-Base.html.twig" %}

{% block title %}
     {{ parent() }}   | Ressources
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
   


        <div class="clear"></div>



        <!--section filtre -->	   	

        <section class="grid_3">
                <div class="block-border">
                <div class="block-content">
                        <h1> Filtre </h1>

                        <div class="block-controls">
                                <ul class="controls-buttons">
                                        <li><a href="#"><strong>Expand all</strong></a></li>
                                        <li class="sep"></li>
                                        <li><a href="#" title="Actualiser"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/arrow-circle.png')}}" width="16" height="16"></a></li>
                                </ul>
                        </div>
                        <ul class="collapsible-list with-bg">
                                <li>
                                        <b class="toggle"></b>
                                        <span>Type</span>
                                        <ul>

                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">
                                                        <label for="simple-checkbox-1">Video</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">
                                                        <label for="simple-checkbox-2">Support papier</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-3" value="3">
                                                        <label for="simple-checkbox-3">Slide</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-4" value="4">
                                                        <label for="simple-checkbox-4">Audio</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-5" value="5">
                                                        <label for="simple-checkbox-5">Code source</label>
                                                </li>
                                        </ul>
                                </li>
                                <li class="closed">
                                        <b class="toggle"></b>
                                        <span>Domaine</span>
                                        <ul>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">
                                                        <label for="simple-checkbox-1">Informatique</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">
                                                        <label for="simple-checkbox-2">Droit</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-3" value="3">
                                                        <label for="simple-checkbox-3">Economie</label>
                                                </li>
                                        </ul>
                                </li>
                                <li class="closed">
                                        <b class="toggle"></b>
                                        <span>Thème</span>
                                        <ul>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">
                                                        <label for="simple-checkbox-1">Base de donnés</label>
                                                </li>
                                                <li class="closed">
                                                        <input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">
                                                        <label for="simple-checkbox-2">JAVA</label>
                                                </li>
                                        </ul>
                                </li>
                        </ul>

                </div></div>
        </section>
        <!--fin section filtre -->	



        <!--section liste des publications-->	

        <section class="grid_9">
                <div class="block-border">
                    <div class="block-content">


                                <div class="block-controls">
                                                        <h1>Publications </h1>  <br><br>

                                </div>
                                <form class="form" id="tab-stats" method="post" action="">
                                    
                                    
                                  	<p>
						<label for="simple-calendar">Mots Clés</label>
						<span class="input-type-text margin-right  relative">
                                                    <input type="text" name="simple-calendar" id="simple-calendar" value="">
                                              
                                                    <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/magnifier.png')}}" width="16" height="16" >
                                                    </span> 
						<button type="button" class="grey">Rechercher</button>
					</p>
                                    
                                 
                                          
                                    
        <!--recherche avancée-->				
                                <fieldset class="grey-bg collapsed">
                                        <legend><a href="#">Recherche avancée</a></legend>
                                     
                                        <div class="columns">
                                                <div class="float-left">
                                                        <span class="label">Domaine</span>
                                                        <select name="Domaine" id="stats-sites-0">
                                                                <option value="0">Informatique</option>
                                                                <option value="0">Economie</option>
                                                        </select>
                                        </div>
                                        <div class="float-left" style="width:10px;">&nbsp;</div>

                                        <div class="float-left">
                                                <span class="label">Théme</span>
                                                <select name="theme" id="stats-sites-0">
                                                        <option value="0">Développemnt</option>
                                                        <option value="0">Réseau</option>
                                                </select>
                                        </div>

                                        <div class="float-left" style="width:10px;">&nbsp;</div>

                                        <div class="float-left">
                                                <span class="label">Type</span>
                                                <select name="type" id="stats-sites-0">
                                                        <option value="0">Vidéo</option>
                                                        <option value="0">Document PDF</option>
                                                </select>
                                        </div>

                                        <div class="float-left" style="width:10px;">&nbsp;</div>


                                        </div>
                                        <div class="columns">
                                        <div class="float-left">
                                                <span class="label">Pour préparer</span>
                                                        <ul class="checkable-list">
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li> 									 
                                                        </ul>
                                        </div>
                                                <div class="float-left" style="width:20px;">&nbsp;</div>
                                        <div class="float-left">
                                                <span class="label">Pour donner des compléments documentaires à</span>
                                                        <ul class="checkable-list">
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1"> Mes cours</label></li>
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes travaux dirigés</label></li>
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes expériences </label></li> 
                                                                <li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2"> Mes exposés scientifiques</label></li> 									 
                                                        </ul>
                                                </div>

                                        </div>

                                        <div class="columns">
                                                <div class="float-left">
                                                        <ul class="checkable-list">
                                                                        <li><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour comprendre les bases d'un sujet</label></li>
                                                                        <li><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour approfondir mes connaissances sur un sujet</label></li>
                                                                        <li><input type="checkbox" name="stats-display[]" id="stats-display-0" value="0">&nbsp;<label for="stats-display-0">Pour résoudre les problèmes du domaine</label> </li>
                                                                        <li><input type="checkbox" name="stats-display[]" id="stats-display-1" value="1">&nbsp;<label for="stats-display-1">Pour s'exercer</label></li>											
                                                        </ul>

                                                </div>
                                        </div>
                                        <div class="columns">
                                                <div class="float-right">
                                                        <button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png')}}" width="16" height="16"> Rechercher</button>
                                                </div>
                                        </div>



                              
                                </fieldset>
        
        
        
        
        
        <div class="block-controls">
             <div class="controls-buttons">
                                            
                                            <!-- The class sub-hover removes the hover effect for the whole div -->
                                            <div class="sub-hover">
                                                    <a href="#" class="disabled">Libellé</a>
                                                    <a href="#">Date</a>
                                                    <a href="#">Domaine</a>
                                                    <a href="#">Link 2</a>
                                                    <a href="#">Link 2</a>
                                            </div>
                                           
                                            
                                    </div>
					
					<ul class="controls-buttons">
						<li>
                                                    <label for="show-empty">Trier par</label>
                                                </li>
						<li class="sep"></li>
						
						
                                                    
                                               
					</ul>
                                       
					
				</div>
        
        

        

                <!--fin recherche avancée-->	
                               

                        </form>
                                <div class="task with-legend">

                                        <!-- The legend -->
                                        <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png')}}" width="16" height="16"> Type de fiche</div>

                                        <div class="task-description">

                                                <!-- Task-list has special integration of the floating-tags class -->

                                                <div class="columns">
                                                        <ul class="floating-tags">
                                                                <li class="tag-time">5 days ago</li>
                                                                <li class="tag-user">You</li>
                                                                <li>Domaine</li>
                                                                <li>Théme</li>
                                                        </ul>
                                                        <h3><a href="#">Fiche 1</a></h3>
                                                        Small task description ...
                                                </div> 
                                                <div class="columns">
                                                        <ul class="keywords">
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Sea</li>
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Fish</li>
                                                                <li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Bubble</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                                <ul class="mini-menu" style="opacity: 0;">
                                                        <li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                                </ul>
                                        </div>	

                                        <div class="task with-legend">

                                        <!-- The legend -->
                                        <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/film.png')}}" width="16" height="16"> Type de fiche</div>

                                        <div class="task-description">

                                                <!-- Task-list has special integration of the floating-tags class -->

                                                <div class="columns">
                                                        <ul class="floating-tags">
                                                                <li class="tag-time">5 days ago</li>
                                                                <li class="tag-user">You</li>
                                                                <li>Domaine</li>
                                                                <li>Théme</li>
                                                        </ul>
                                                        <h3><a href="#">Fiche 1</a></h3>
                                                        Small task description ...
                                                </div> 
                                                <div class="columns">
                                                        <ul class="keywords">
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Sea</li>
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Fish</li>
                                                                <li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Bubble</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <ul class="mini-menu" style="opacity: 0;">
                                                <li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                        </ul>
                                </div>	

                                <div class="task with-legend">

                                        <!-- The legend -->
                                        <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-powerpoint.png')}}" width="16" height="16"> Type de fiche</div>

                                        <div class="task-description">

                                                <!-- Task-list has special integration of the floating-tags class -->

                                                <div class="columns">
                                                        <ul class="floating-tags">
                                                                <li class="tag-time">5 days ago</li>
                                                                <li class="tag-user">You</li>
                                                                <li>Domaine</li>
                                                                <li>Théme</li>
                                                        </ul>
                                                        <h3><a href="#">Fiche 1</a></h3>
                                                        Small task description ...
                                                </div> 
                                                <div class="columns">
                                                        <ul class="keywords">
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Sea</li>
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Fish</li>
                                                                <li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Bubble</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <ul class="mini-menu" style="opacity: 0;">
                                                <li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                        </ul>
                                </div>	
                                <div class="task with-legend">

                                        <!-- The legend -->
                                        <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png')}}" width="16" height="16"> Type de fiche</div>

                                        <div class="task-description">

                                                <!-- Task-list has special integration of the floating-tags class -->

                                                <div class="columns">
                                                        <ul class="floating-tags">
                                                                <li class="tag-time">5 days ago</li>
                                                                <li class="tag-user">You</li>
                                                                <li>Domaine</li>
                                                                <li>Théme</li>
                                                        </ul>
                                                        <h3><a href="#">Fiche 1</a></h3>
                                                        Small task description ...
                                                </div> 
                                                <div class="columns">
                                                        <ul class="keywords">
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Sea</li>
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Fish</li>
                                                                <li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Bubble</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                                <ul class="mini-menu" style="opacity: 0;">
                                                        <li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                                </ul>
                                        </div>	
                                        <div class="task with-legend">

                                        <!-- The legend -->
                                        <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/document-pdf.png')}}" width="16" height="16"> Type de fiche</div>

                                        <div class="task-description">

                                                <!-- Task-list has special integration of the floating-tags class -->

                                                <div class="columns">
                                                        <ul class="floating-tags">
                                                                <li class="tag-time">5 days ago</li>
                                                                <li class="tag-user">You</li>
                                                                <li>Domaine</li>
                                                                <li>Théme</li>
                                                        </ul>
                                                        <h3><a href="#">Fiche 1</a></h3>
                                                        Small task description ...
                                                </div> 
                                                <div class="columns">
                                                        <ul class="keywords">
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Sea</li>
                                                                <li><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Fish</li>
                                                                <li><a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tag-small.png')}}" width="16" height="16"> Bubble</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                                <ul class="mini-menu" style="opacity: 0;">
                                                        <li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
                                                </ul>
                                        </div>	
                                <ul class="controls-buttons">
                                        <li><a href="#" title="Précédent"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png')}}" width="16" height="16"> Précédent</a></li>
                                        <li><a href="#" title="Page 1"><b>1</b></a></li>
                                        <li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
                                        <li><a href="#" title="Page 3"><b>3</b></a></li>
                                        <li><a href="#" title="Page 4"><b>4</b></a></li>
                                        <li><a href="#" title="Page 5"><b>5</b></a></li>
                                        <li><a href="#" title="suivant">Suivant <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png')}}" width="16" height="16"></a></li>

                                </ul>
                                <div class="clear"></div>
                    </div>

                </div>

        </section>
        <!--fin section lioste des publications -->	


{% endblock %}
{% block javascripts_Bottom %}

{% endblock %}