{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}



		<section class="grid_12">
			<div class="block-border">
			    <div class="block-content no-title">
			    	
					<div class="content-columns right30">
			     
					    <!-- Vertical separator -->
					    <div class="content-columns-sep"></div>
					     
					    <!-- Left column -->
					    <div class="content-left">
					    	<div>
					        

						    	<!--<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/bridge.jpg')}}" data-src="{{ asset('bundles/eieinstitut/images/slides/bridge.jpg')}}">
										<div class="camera_caption fadeFromBottom">
											Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em>
										</div>
									</div>
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/leaf.jpg')}}" data-src="{{ asset('bundles/eieinstitut/images/slides/leaf.jpg')}}">
										<div class="camera_caption fadeFromBottom">
											It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em>
										</div>
									</div>
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/road.jpg')}}" data-src="{{ asset('bundles/eieinstitut/images/slides/road.jpg')}}">
										<div class="camera_caption fadeFromBottom"> <em>It's completely free</em> (even if a donation is appreciated) </div>
									</div>
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/sea.jpg')}}" data-src="{{ asset('bundles/eieinstitut/images/slides/sea.jpg')}}">
										<div class="camera_caption fadeFromBottom"> 
											Camera slideshow provides many options <em>to customize your project</em> as more as possible
										</div>
									</div>
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/shelter.jpg')}}" data-src="{{ asset('bundles/eieinstitut/images/slides/shelter.jpg')}}">
										<div class="camera_caption fadeFromBottom">
											It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)
										</div>
									</div>
									<div data-thumb="{{ asset('bundles/eieinstitut/images/slides/thumbs/tree.jpg" data-src="images/slides/tree.jpg')}}">
										<div class="camera_caption fadeFromBottom">
											Different color skins and layouts available, <em>fullscreen ready too</em>
										</div>
									</div>
								</div>-->
								<!-- #camera_wrap_1 -->


						    </div>

					</div>
					     
					    <!-- Right column -->
					    <div class="content-right">
					    	<div class="with-padding">
					    		<h3 class="small-margin">Ressources </h3>
					        	<!-- Use the class js-tabs to enable JS tabs script -->
								<ul class="tabs js-tabs same-height">
									<li class="current"><a href="#tab-Dernier">Dérnier</a></li>
								    <li><a href="#tab-Populaire">Populaire</a></li>
								    <li><a href="#tab-Recommande">Recommandé</a></li>
								</ul>
								 
								<div class="tabs-content">
									<div id="tab-Dernier">
								      
										<div class="task with-legend">
										    <!-- The legend -->
										    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
										     
										    <div class="task-description">
										         
										        <!-- Task-list has special integration of the floating-tags class -->
										        <ul class="floating-tags">
										            <li class="tag-time">5 days ago</li>
										            <li class="tag-user">You</li>
										        </ul>
										         
										        <h3>Fiche 1</h3>
										        Small task description ...
										    </div>
										    <ul class="mini-menu">
												<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
											</ul>
										</div>
										<div class="task with-legend">
			     
										    <!-- The legend -->
										    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
										     
										    <div class="task-description">
										         
										        <!-- Task-list has special integration of the floating-tags class -->
										        <ul class="floating-tags">
										            <li class="tag-time">5 days ago</li>
										            <li class="tag-user">You</li>
										        </ul>
										         
										        <h3>Fiche 2</h3>
										        Small task description ..
										    </div>
										    <ul class="mini-menu">
												<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
											</ul>
										</div>
										<div class="task with-legend">
			     
										    <!-- The legend -->
										    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
										     
										    <div class="task-description">
										         
										        <!-- Task-list has special integration of the floating-tags class -->
										        <ul class="floating-tags">
										            <li class="tag-time">5 days ago</li>
										            <li class="tag-user">You</li>
										        </ul>
										         
										        <h3>Fiche 3</h3>
										        Small task description ...
										    </div>
										    <ul class="mini-menu">
												<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
											</ul>
										</div>
										<div class="task with-legend">
			     
										    <!-- The legend -->
										    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
										     
										    <div class="task-description">
										         
										        <!-- Task-list has special integration of the floating-tags class -->
										        <ul class="floating-tags">
										            <li class="tag-time">5 days ago</li>
										            <li class="tag-user">You</li>
										        </ul>
										         
										        <h3>Fiche 4</h3>
										        Small task description ...
										    </div>
										    <ul class="mini-menu">
												<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
											</ul>
										</div>
							


								       
								    </div>
								    <div id="tab-Populaire">
								        <p>Current tab content</p>
								    </div>
								    <div id="tab-Recommande">
								        <p>Other tab content</p>
								    </div>
								 
								</div>
					   		</div>
						</div>
						
					 
					</div>
				</div>
				
			</div>
		</section>
		<div class="clear"></div>


		<section class="grid_6">
			<div class="block-border">
			    <div class="block-content no-title">


			    	<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Fiche 1</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Fiche 2</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Fiche 3</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Fiche 4</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Task name</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Task name</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>
							<div class="task with-legend">
     
							    <!-- The legend -->
							    <div class="legend"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/flag.png')}}" width="16" height="16"> Overdue task</div>
							     
							    <div class="task-description">
							         
							        <!-- Task-list has special integration of the floating-tags class -->
							        <ul class="floating-tags">
							            <li class="tag-time">5 days ago</li>
							            <li class="tag-user">You</li>
							        </ul>
							         
							        <h3>Task name</h3>
							        Small task description Lorem ipsum
							    </div>
							    <ul class="mini-menu">
									<li><a href="#" title="Delete"> + Détails<img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-000-white.png')}}" width="16" height="16"></a></li>
								</ul>
							</div>

					
				</div>
			</div>
		</section>	

				


		<section class="grid_3">
			<div class="block-border">
			    <div class="block-content no-title">
			    	

			    <h2>Evenement</h2>
			     
			    <!-- With the class no-margin -->
			    <ul class="message no-margin">
			        <li>12 events found</li>
			    </ul>
			     
			    <!-- Note: for tables, a wrapping div is required -->
			    <div class="no-margin">
			        <table cellspacing="0" class="list-calendar">
					    <tbody>
					     
					        <!-- Use the class empty to change visual style -->
					        <tr class="empty">
					            <th scope="row">01</th>
					            <td>               
					                No events
					            </td>
					        </tr>
					         
					        <tr>
					            <th scope="row">02</th>
					            <td>
					                 <!-- Events dot list -->
					                <ul class="events-dots-list">
					                    <!-- The opening span is for the dot -->
					                    <li><a href="#"><span></span> Lena's birthday</a></li>
					                    <li><a href="#"><span></span> Replace server hard drive</a></li>
					                    <li><a href="#"><span></span> Max's birthday</a></li>
					                </ul>
					                 
					            </td>
					        </tr>
					        <tr class="empty">
					            <th scope="row">03</th>
					            <td>
					                No events
					            </td>
					        </tr>
					        <tr class="empty">
					            <th scope="row">04</th>
					            <td>
					                No events
					            </td>
					        </tr>
					        <tr>
					            <th scope="row">05</th>
					            <td>
					                <!-- Full events list -->
					                <ul class="events">
					                    <li><a href="#"><b>9:00</b> Meeting</a></li>
					                    <li><a href="#"><b>11:00</b> Meeting with D.H.</a></li>
					                     
					                    <!-- You can change an event color to red -->
					                    <!-- The link is not required -->
					                    <li class="red"><a href="#"><b>14:00</b> Meeting</a></li>
					                     
					                </ul>
					                 
					                <!-- Drop-down events list -->
					                <div class="more-events">
					                    2 more events
					                    <ul>
					                        <li><a href="#"><b>17:00</b> Soccer</a></li>
					                        <li><a href="#"><b>21:00</b> Diner with Jane</a></li>
					                    </ul>
					                </div>
					                 
					            </td>
					        </tr>
					        <tr class="empty">
					            <th scope="row">06</th>
					            <td>
					                No events
					            </td>
					        </tr>
					        <tr>
					            <th scope="row">07</th>
					            <td>
					                <ul class="events">
					                    <li><a href="#"><b>9:00</b> Meeting</a></li>
					                </ul>
					            </td>
					        </tr>
					        <tr>
					            <th scope="row">08</th>
					            <td>
					                <ul class="events-dots-list">
					                 
					                    <!-- You can change an event color to red -->
					                    <!-- The link is not required -->
					                    <li class="red"><span></span> Tax payment limit date</li>
					                     
					                    <li><a href="#"><span></span> Check server hard drive logs</a></li>
					                </ul>
					            </td>
					        </tr>
					    </tbody>
					</table>
			    </div>
			 
			</div>
					

				</div>
			</div>
		</section>  


		<section class="grid_3">
			<div class="block-border">
			    <div class="block-content no-title">
			    	<h3>Réseau</h3>
					

				</div>
			</div>
		</section>    
		<section class="grid_3">
			<div class="block-border">
			    <div class="block-content no-title">
			    	<h3>Tags</h3>
			    	<!-- Tags -->
					<ul class="tags">
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					</ul>

				</div>
			</div>
		</section> 
		<section class="grid_3">
			<div class="block-border">
			    <div class="block-content no-title">
			    	<h3>Tags</h3>
			    	<!-- Tags -->
					<ul class="tags">
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					    <li>Sea</li>
					    <li>Fish</li>
					    <li>Bubble</li>
					</ul>

				</div>
			</div>
		</section>    	
		<section class="grid_6">
			
			  
					<dl class="accordion no-margin">
					    <dt><span class="number">1</span> First step</dt>
					    <dd>Lorem ipsum dolor sit amet... magna aliqua.</dd>
					     
					    <dt><span class="number">2</span> Second step</dt>
					    <dd>Lorem ipsum dolor sit amet... magna aliqua.</dd>
					     
					    <dt><span class="number">3</span> Third step</dt>
					    <dd>Lorem ipsum dolor sit amet... magna aliqua.</dd>
					</dl>

		</section>    	
		<div class="clear"></div>
		

		

		  
{% endblock %}
        
{% block javascripts_Bottom %}
	  <!-- <script type='text/javascript' src='js/camera.slide/jquery.min.js'></script>-->
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/jquery.mobile.customized.min.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/jquery.easing.1.3.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/eieinstitut/js/camera.slide/camera.min.js') }}'></script>
	<script>
		jQuery(function(){
			jQuery('#camera_wrap_1').camera({
				thumbnails: true
			});
		});
	</script>
{% endblock %} 
                
                