{% extends "EiAdministrationBundle::Master-Base-admin.html.twig" %}
{% block title %}
     {{ parent() }}   | Lister users
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block content %}
	     
<section class="grid_9">
			<div class="block-border"><form class="block-content form" id="table_form" method="post" action="">
				<h1>Liste Users<a href="#"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle-blue.png') }}" width="16" height="16">Ajouter</a></h1>
				
				<table class="table sortable no-margin" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="black-cell"><span class="loading"></span></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Login
							</th>
							<th scope="col">Email</th>
							<th scope="col">
								Nom et Prénom
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Rôle
							</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Dernière visite
							</th>
							<th scope="col" class="table-actions">Actions</th>
						</tr>
					</thead>
					
					<tbody>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
                                                        <td>123</td>
							<td><ul class="keywords">
								<li><a href="#">Etudiant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td>Jhon Doe</td>
							<td><ul class="keywords">
								<li><a href="#">Etudiant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td>Jhon Doe</td>
							<td><ul class="keywords">
								<li><a href="#">Etudiant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td>Jhon Doe</td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="orange-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						<tr>
							<td class="th table-check-cell">
							<input type="checkbox" name="selected[]" id="table-selected-1" value="1">
							
							
							</td>
							<td>User1</td>
							
							<td>test@gmail.com</td>
							
							<td><p>Jhon Doe</p></td>
							<td><ul class="keywords">
								<li class="purple-keyword"><a href="#">Enseignant</a></li>
								
							</ul></td>
							<td>2010-05-02</td>
							<td class="table-actions">
								<a href="#" title="Edit" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/pencil.png') }}" width="16" height="16"></a>
								<a href="#" title="Delete" class="with-tip"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/cross-circle.png') }}" width="16" height="16"></a>
								
							</td>
						</tr>
						
					</tbody>
				
				</table>
					
			</form></div>
		</section>		               
{% endblock %}
{% block javascripts_Bottom %}

{% endblock %} 