{% extends "EieinstitutBundle::Sub-Master-Left.html.twig" %}
{% block title %}
     {{ parent() }}   | Ajouter une ressource
{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
{% block Slide %}

{% endblock %}
{% block Sub_Content %}
<section class="grid_6">
    <div class="block-border">
        <div class="block-content">


            <div class="block-controls">
                <h1>Rechercher</h1>  <br><br>

            </div>
            <form class="form" id="tab-stats" method="post" action="">
                <fieldset class="grey-bg">

                    <span class="label required">
                        Nom
                    </span>
                    <input id="complex-fr-subtitle" class="full-width" type="text" value="" name="complex-fr-subtitle"></input> <br><br>
                    <span class="label required">
                        Pr&eacute;nom
                    </span>
                    <input id="complex-fr-subtitle" class="full-width" type="text" value="" name="complex-fr-subtitle"></input> <br><br>
                    <span>
                        Email
                    </span>
                    <input id="complex-fr-subtitle" class="full-width" type="text" value="" name="complex-fr-subtitle"></input> <br><br>
                    <div class="float-right"><br>
                        <button type="button"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/tick-circle.png')}}" width="16" height="16"> Rechercher</button>
                    </div>
                </fieldset>
            </form>

            <!-------------------------------
            debut resultat recherche
            
            ----------------------------------->
            <br><br><br>
            <div class="head">
                <div class="black-cell with-gap"><span class="success"></span></div>
                <div class="black-cell">Trier Par</div>
                <div>
                    <span class="column-sort">
                        <a href="#" title="Sort up" class="sort-up active"></a>
                        <a href="#" title="Sort down" class="sort-down"></a>
                    </span>
                    Nom
                </div>
                <div>
                    <span class="column-sort">
                        <a href="#" title="Sort up" class="sort-up"></a>
                        <a href="#" title="Sort down" class="sort-down"></a>
                    </span>
                    Date
                </div>
                <div>
                    <span class="column-sort">
                        <a href="#" title="Sort up" class="sort-up"></a>
                        <a href="#" title="Sort down" class="sort-down"></a>
                    </span>
                    Status
                </div>
            </div>


            <ul class="extended-list no-margin icon-user">

                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Etudiant </small>
                    </a>

                    <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>


                </li>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Etudiant </small>
                    </a>

                    <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>


                </li>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Enseignant </small>
                    </a>

                    <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>



                </li>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Enseignant </small>
                    </a>

                    <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>


                </li>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Enseignant </small>
                    </a>

                    <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>


                </li>
                <li>
                    <a href="#">
                        <span class="icon"></span>
                        John Doe<br>
                        <small>nico@gmail.com</small><br>
                        <small>Enseignant </small>
                    </a>

                     <ul style="opacity: 0;" class="mini-menu">
                        <li><a href="#" title="Ajouter"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/plus-circle.png')}}" height="16" width="16"></a></li>
                        <li><a href="#" title="Envoyer mail"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/mail.png')}}" height="16" width="16"></a></li>
                        <!--<li><a href="#" title="Delete"><img src="images/icons/fugue/cross-circle.png" height="16" width="16"> Delete</a></li>-->
                    </ul>



                </li>
            </ul>
            <ul class="controls-buttons">
                <li><a href="#" title="Précédent"><img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation-180.png')}}" width="16" height="16"> Precedent</a></li>
                <li><a href="#" title="Page 1"><b>1</b></a></li>
                <li><a href="#" title="Page 2" class="current"><b>2</b></a></li>
                <li><a href="#" title="Page 3"><b>3</b></a></li>
                <li><a href="#" title="Page 4"><b>4</b></a></li>
                <li><a href="#" title="Page 5"><b>5</b></a></li>
                <li><a href="#" title="suivant">Suivant <img src="{{ asset('bundles/eieinstitut/images/icons/fugue/navigation.png')}}" width="16" height="16"></a></li>

            </ul>
            <div class="clear"></div>
            <!--------------------

fin resultat recherche

---------------------->

        </div>
    </div>			
</section>

{% endblock %}
     
{% block javascripts_Bottom %}

{% endblock %}