{% extends "EieinstitutBundle::Master-Base.html.twig" %}


{% block content %}
    <!--section detail-->			
		<section class="grid_4">
				<small> <a href="{{ path('Page') }}">E-institut </a> > légal > Mentions légales </small>
			</section>

		<div class="clear"></div>

		<!--section detail-->	
			<!-- Menu gauche -->
	<section class="grid_3">
		<div class="block-border">
			    <div class="block-content">	
				<h1>Légal</h1>
					 <ul class="bullet-list">
							   					
								<li><a href="{{ path('Legal_Condition') }}">Condition d'utilisation</a></li>
								<li><a href="{{ path('Legal_Vie_privee') }}">Vie privée</a></li>
								<li><a href="{{ path('Legal_Licence') }}">Licences ouvertures</a></li>
								<li><a href="{{ path('Legal_Signaler') }}">Signaler</a></li>
								<li><a href="{{ path('Legal_Mention') }}">Mentions légales</a></li>									
                            </ul>
				</div>
		</div>
	</section>	
	
		<section class="grid_9">
			<div class="block-border">
			    <div class="block-content">		
						<h1>Mentions légales </h1>			

				
				<div class="fieldset  grey-bg clearfix">				
<div class="task-description"><p>Ramses, le R&eacute;seau Africain pour la Mutualisation et le Soutien des p&ocirc;les d'Ecellence Scientifique</p>

<p>Forme sociale : Association Si&egrave;ge social : Universit&eacute; Blaise Pascal,... 63 000 Clermont-ferrand FRANCE T&eacute;l&eacute;phone : ? Directeur de la publication : Mamadou Kaba Traore</p>

<p>H&eacute;bergeur : OVH</p>

<p>Num&eacute;ro de r&eacute;c&eacute;piss&eacute; CNIL : ?</p>

<p>Pour toute question concernant E-insitut, contactez nous &agrave; l'adresse ... </p></div>
				</div>
					<div class="clear"></div>
			    </div>
				
			</div>
 
		</section>
		<!--fin section lioste des publications -->	
{% endblock %}